.body{
    background-image: url(https://wallpaperaccess.com/download/login-hd-16692);
    
    background-color: rgb(240, 244, 245);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}

.register {
    
    width: 30%;
    margin: auto;
    
    margin-top: 50px;
    padding: 40px;
}

h2 {
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 500;
    color: rgb(92, 92, 124);
    margin-bottom: 30px;
}

.registerButton{
    text-align: center;
}

Button:hover {
    background-color: rgb(74, 74, 237);
}

p {
    text-align: center;
    margin: 15px 0 10px 0;
}