<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <img src="/assets/logo1.png" width="55" height=auto class="d-inline-block align-top" alt="">
    <a class="navbar-brand" href="" style="color:white ;">DoConnect</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <!--- search content method for testing purpose-->
      <a
      routerLink="/search"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <button class="btn1 btn btn-dark" type="submit">
        
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            #search

            aria-label="Search"
            aria-describedby="addon-wrapping"
          />
      </button>
    </a>
      

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="user.id == 0">
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="btn btn-primary me-2 my-2"
            role="button"
          >
            Log in
          </a>
        </li>
        <li *ngIf="user.id == 0">
          <a
            routerLink="/register"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="btn btn-primary me-2 my-2"
            role="button"
          >
            Sign up
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container" *ngIf="isSearched">
  <table class="table table-striped">
    <tr>
      <th>Question</th>
      <th>Posted By</th>
      <th>Topic</th>
      <th>show Answers</th>
    </tr>

    <tr *ngFor="let question of questions">
      <td>{{ question.question }}</td>
      <td>{{ question.user.name }}</td>
      <td>{{ question.topic }}</td>
      <td>
        <button
          class="btn btn-outline-success"
          id="{{ question.id }}"
          (click)="sendQuestionToGetAnswer(question.id)"
        >
          show Answers
        </button>
      </td>
      

    </tr>&nbsp;
    &nbsp;
  </table>
</div>


<!-- before-->

         


            



















            <div class="container my-4 d-flex flex-row float-right">
  <span class="container me-5">
    <h4 style="text-align: right; color: darkblue; font-style: italic; font-family: 'Times New Roman', Times, serif;">Welcome {{ user.name }}</h4></span
  >
  <span class="container">
    <button
      class="btn me-2 btn-outline-danger float-end"
      (click)="userLogout(user.id)"
      type="button"
    >
     
    <img src="/assets/logout.png" width="65" height=auto class="d-inline-block align-top" alt="">
  <a class="navbar-brand" href="" style="color:white ;"></a>
    
    </button>
  </span>
</div>

<div class="container">
  <a
    routerLink="/ask-question"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <button class="btn ml-15 btn-primary" id="ask">
      <img src="/assets/ask.png" width="65" height=auto class="d-inline-block align-top" alt="">
  <a class="navbar-brand" href="" style="color:white ;"></a><br>Ask Question</button>
  </a>
  <br />
</div>
<br />
<app-all-questions></app-all-questions>
<div class="container float-right">
  <button
    class="btn btn-outline-danger"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight"
    id="btn-chat"
  >
    
  <img src="/assets/chat.png" width="65" height=auto class="d-inline-block align-top" alt="">
  <a class="navbar-brand" href="" style="color:white ;"></a><br>
  chat


  </button>
</div>
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <app-chat></app-chat>
    
  </div>
</div>
